<mat-toolbar color="primary">
  <span>30 X 30 - Day 2</span>
</mat-toolbar>
<!--<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    
  </mat-drawer>
  <mat-drawer-content>
    Main content
  </mat-drawer-content>
</mat-drawer-container>-->
<div class="flex">
  <app-employee-list
    class="emp-list-component"
    [employeeList]="employeeList"
    (editEmployee)="updateEmployee($event)"
    (addEmployee)="addEmployee()"
    (deleteEmployee)="removeEmployee($event)"
  ></app-employee-list>
  <app-employee-detail
    class="emp-detail-component"
    [employee]="currentEmployee"
    (employeeUpdate)="updateEmployeeDetails($event)"
  ></app-employee-detail>
</div>
